/* BugTable.css */

.bug-table {
    display: flex;
  }
  
  .bug-column {
    flex: 1;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
  }
  
  .bug-column-header {
    font-weight: bold;
  }
  
  .open-column {
    background-color: #3498db; /* Blue */
    color: #ffffff; /* White text */
  }
  
  .in-progress-column {
    background-color: #f39c12; /* Yellow */
    color: #ffffff; /* White text */
  }
  
  .resolved-column {
    background-color: #2ecc71; /* Green */
    color: #ffffff; /* White text */
  }
  
  .bug-box {
    background-color: #ffffff; /* White */
    color: black;
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .bug-box:hover {
    background-color: #ecf0f1; /* Lighter background on hover */
  }
  
/* Highlight Bug ID */
.bug-box p:first-child {
    font-weight: bold;
  }
  
  /* Bug details styles */
.bug-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  
  /* Show bug details when .bug-details is active */
.bug-details.active {
    display: block;
  }
  